.todo{
    background: #eee;
    width:40rem;
    min-height:60rem;
    box-shadow: -0 1rem 2rem 0 rgba(0,0,0,0.2);
    border-radius:1rem;
}

.todo__header{
    height:20%;
    display:flex;
    align-items:center;
    padding: 3rem;
}

.todo__heading{
    font-family: 'Cookie', cursive;
    font-size:400%;
    font-weight:400;
}

.todo__list{
    height:80%;
    display:flex;
    flex-direction: column;
    padding:1rem;
}

.todo__item{
    list-style:none;
    padding:2rem;
    border-bottom: 0.2rem solid rgba(0, 0, 0,0.2);
}

.todo__item:hover{
    background:hsl(0, 0%, 87%);
    cursor:pointer;
}

.todo__item--done{
    text-decoration: line-through;
}