*{
    margin:0;
    padding:0;
    box-sizing: border-box;
}

html{
    font-size:62.5%; /* 1rem = 16px */
}

body{
    font-size: 2rem;
    font-family: 'Open Sans', sans-serif;
    background: #eee;
}

#root{
    display:flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    gap:4rem;
    flex-wrap: wrap;
}